body {
  background-image: url('assets/images/massimiliano-morosinotto-0Hr2m3V_w1Q-unsplash.jpg') !important;
  background-size: cover !important;
  font-family: 'Raleway', sans-serif;
}

#contentContainer {
  background-color: white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  box-shadow: 5px 5px 5px black;
}

#mainContainer {
  padding-bottom: 50px;
}

