.ui.header,
#modalHeader {
    font-family: 'Titan One', cursive;
    font-size: 28px;
}

.ui.items>.item>.image>img {
    border-radius: 500rem !important;
}

#portfolioHeader{
    color: white;
    margin-top: 10px;
    text-shadow: 5px 5px 5px black;
    font-family: 'Titan One', cursive;
}

#resumeButton, #emailButton {
    text-decoration: none;
    color: rgb(89, 182, 85) !important;
}